section {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.column {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-negative: 1;
  flex-shrink: 1;
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
}

section:nth-of-type(5) .column:first-of-type {
  -webkit-box-flex: 2;
  -ms-flex-positive: 2;
  flex-grow: 2;
  -ms-flex-negative: 2;
  flex-shrink: 2;
  -ms-flex-preferred-size: 22px;
  flex-basis: 22px;
}

section:nth-of-type(6) .column:nth-of-type(2) {
  -webkit-box-flex: 4;
  -ms-flex-positive: 4;
  flex-grow: 4;
  -ms-flex-negative: 4;
  flex-shrink: 4;
  -ms-flex-preferred-size: 66px;
  flex-basis: 66px;
}

/* OTHER STYLES */
html {
  overflow-y: scroll;
}

html,
body {
  padding-top: 25px;
  box-sizing: border-box;
}

.column {
  padding: 1em 0;
}

.treebuttons {
  margin-top: 1em;
  margin-bottom: 1em;
}

.list {
  margin-top: 4.15em;
}

.content {
  margin-left: 1em;
  margin-right: 1em;
}

.navbar {
  width: 1024px;
  margin: 0 auto;
}

.drag-handle {
  display: inline-block;
  margin-left: 1em;
  margin-right: 3em;
  width: 16px;
  cursor: pointer;
}

.button-group {
  margin-left: 4em;
}

.mergelist-item {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.pt-dark {
  background-color: #293742;
}

.SortableHelper {
  box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.2),
    0 -5px 5px -5px rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 0.8);
  cursor: row-resize;
}

.SortableList {
  z-index: 0;
}
